<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Business Administration</h4>
            <h5>2011 - 2014</h5>
            <p><em>Northern University Bangladesh</em></p>
            
          </div>
          <div class="resume-item">
            <h4>Higher Secondary Certificate</h4>
            <h5>2010</h5>
            <p><em>Cosmopolitan College Dhaka</em></p>
        </div>

        <div class="resume-item">
            <h4>Secondary School Certificate</h4>
            <h5>2008</h5>
            <p><em>Pogose School Dhaka</em></p>
        </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Software Support Engineer</h4>
            <h5>2019 - Present</h5>
            <p><em>Computer Ease Limited, Dhanmondi, Dhaka, Bangladesh </em></p>
            
          </div>
          <div class="resume-item">
            <h4>Senior Photographer</h4>
            <h5>2013 - Present</h5>
            <p><em>Moment Revealers, Dhaka, Bangladesh</em></p>
            
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

